@import "../../variables.scss";

#pie-chart {
	h1 {
		margin-top: 0;
	}
	svg {
		margin-top: -15%;
		margin-left: 12%;
	}
	p {
		position: relative;
		top: 35%;
		right: -36%;
		font-size: 2rem;
	}
}
