// color variables
$color-bg: rgb(29, 29, 29);
$color-text: rgb(219, 219, 219);
$color-content-bg: rgb(60, 60, 60);
$color-content-selected: rgb(80, 80, 80);
$color-twitch: rgb(100, 65, 164);
//font variables
$text-font: "Roboto", sans-serif;
$logo-font: "Press Start 2P", sans-serif;
