
extends layout

block content

    - let follows = followingData

    h1 #{username}'s following list'
    h2 Total follow count is #{follows.length}
    ul#followingList
        each follow in follows
            li #{follow}