
header
  h1 SRL Bets
  img(id='hamburgerOpen' src='../img/hamburger.svg')

  nav
    ul
      img(id='hamburgerClose' src='../img/x.svg')
      li
        a(id='home' href='http://localhost:3000/') Home
      li
        a(id='profile' href='http://localhost:3000/profile') My Profile
      li
        a(id='recentRaces' href='http://localhost:3000/recent') Recently Finished Races
      li
        a(id='twitchLogin' href='http://localhost:3000/twitchLogin') Log In with Twitch
      li
        a(id='twitchLogout' href='http://localhost:3000/twitchLogout') Log Out of Twitch
