
header
	a(href='http://localhost:3000/')
		h1 SRL Bets
	nav
		li
			a(id='home' href='http://localhost:3000/') Home
		li
			a(id='profile' href='http://localhost:3000/profile') My Profile
		li
			a(id='makeBet' href='http://localhost:3000/makeBet') Make a bet
		li
			a(id='recentRaces' href='http://localhost:3000/recent') Recently Finished Races
		li
			a(id='twitchLogout' href='http://localhost:3000/twitchLogout') Log Out of Twitch  
		li
			a(id='twitchLogin' href='http://localhost:3000/twitchLogin') Log In with Twitch
