extends layout

block content
  h1 Hello World.
  //- form(method='POST' action='/')
    label(for='message') Message: 
    input#message(type='text', placeholder='Write something here' name='message')
    button(type='submit') Sumbit
  include race.pug
