doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie-edge')
  title #{title}
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
    
body
  
  include header
  
  //content block insert here
  block content
  
  
  //include footer
  
  script(src='./js/dom.js')
  
    
