ul#nav
  li
    a(id='home' href='http://localhost:3000/') Home
  li
    a(id='twitchLogin' href='http://localhost:3000/twitchLogin') Log In with Twitch
  li
    a(id='twitchLogout' href='http://localhost:3000/twitchLogout') Log Out of Twitch
