@import "../../variables.scss";
h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.user-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-column {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

@media (min-width: 1000px) {
    .user-content {
        flex-direction: row;
    }
}