@import "../../variables.scss";
#profile-container {
	h3 {
		text-align: center;
	}
}

.user-display {
	padding: 1rem 0 0;
	text-align: center;
	img {
		width: 100px;
		height: 100px;
		margin: auto;
	}
	h2 {
		font-size: 2rem;
		margin: 0;
		padding-left: 1rem;
	}
}

@media (min-width: 1000px) {
}
