@import '../../variables.scss';

#race-page {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;

        li {
            padding: 0 1rem;
        }
    }
}