@import "../../variables.scss";
body {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	background-color: $color-bg;
	color: $color-text;
	font-family: $text-font;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

#main-content {
	min-width: 0;
	padding: 0 1rem;
}

a:hover {
	opacity: 0.5;
}

button:hover {
	opacity: 0.5;
}
