@import "../../variables.scss";
#page-header {
    padding: 0;
    background-color: $color-content-bg;
    font-size: 1em;
    a {
        text-decoration: none;
        color: white;
    }
    nav {
        font-size: 0.5rem;
        background-color: $color-content-bg;
    }
}