@import "../../variables.scss";
#page-header {
    padding: 0;
    position: relative;
    background-color: $color-content-bg;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: white;
    }
    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 3rem;
        font-size: 1rem;
        justify-content: flex-start;
        background-color: rgba(100, 100, 100, 0.98);
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            width: 100%;
            padding: 1rem;
            border: 2px solid $color-bg;
            background-color: $color-content-bg;
            margin: auto;
            text-align: center;
        }
    }
    i {
        padding-top: 1rem;
        font-size: 3rem;
    }
}