@import "../../variables.scss";
.race-summary {
	p,
	a {
		text-align: left;
		width: 20%;
		padding: 0.1rem;
	}
	a {
		color: white;
		text-decoration: none;
		display: inline-block;
		p {
			width: 100%;
		}
	}
}
