@import "../../variables.scss";

#stream-container {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	padding: 2rem 0;
	iframe {
		width: 40vw;
		height: 22.5vw;
		border: 2px solid $color-content-bg;
	}
}
